.score-board {
  width: 170px;
  padding: 20px;
  background: var(--card);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-self: center;
  margin-bottom: 0;
  position: relative;
}

.score-card {
  background: var(--score-card);
  border-radius: 8px;
  padding: 18px 14px;
  font-weight: bold;
  font-size: 0.9rem;
}

.best-score-card {
  color: var(--primary);
}

.score-star-top-left {
  position: absolute;
  left: -55px;
  top: -25px;
  width: 70px;
  pointer-events: none;
}

.score-stars-bottom-right {
  position: absolute;
  right: -35px;
  bottom: -25px;
  width: 70px;
  pointer-events: none;
}

@media (max-width: 900px) {
  .score-board {
    width: 180px;
    margin-bottom: 0;
  }

  .score-star-top-left {
    left: -45px;
    width: 60px;
  }

  .score-stars-bottom-right {
    right: -30px;
    width: 60px;
  }
}
