.app {
  width: 100%;
  height: 100vh;
  background: var(--background);
}

.game-layout {
  height: calc(100vh - 65px);
  display: grid;
  grid-template-columns: 220px 1fr 260px;
  align-items: center;
  padding: 20px 45px 30px;
}